/* General */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #444;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: inherit;
}
p {
    line-height: 21px;
}

/* Layout */
body #flash {
    position: fixed;
    top: 10px;
    right: 26px;
    z-index: 20;
}
body #panel {
    position: fixed;
    top: 0;
    left: -240px;
    bottom: 0;
    width: 300px;
    z-index: 10;
}
body #panel nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
}
body #panel menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60px;
}
body #editor {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}


/* Nav */
#panel nav {
    background: #35424B;
    color: #EEE;
}
#panel nav header {
    padding: 18px 0;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    /*background: #2D383E;*/
}
#panel nav header strong {
    font-weight: inherit;
    color: #FF6C60;
}
#panel nav  ul {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}
#panel nav  ul li {
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 300;
    color: #BAC4CE;
}
#panel nav  ul li aside {
    font-size: 12px;
    color: #76808a;
}
#panel nav  ul li.active,
#panel nav  ul li:hover {
    color: #EEE;
    background: #2D383E;
    cursor: pointer;
}


/* Menu */
#panel menu {
    padding: 0;
    margin: 0;
    background: #F6F6F6;
}
#panel menu a {
    display: block;
    height: 60px;
    padding: 12px 0;
    text-align: center;
    color: #CCC;
    font-size: 21px;
    outline: none;
    border: 4px solid transparent;
}
#panel menu a span {
    display: none;
}
#panel menu a:hover {
    background: #E9E9E9;
    color: #44535f;
}

/* Save button */
#panel menu a.save .active {
    margin-top: 4px;
    color: #44535f;
    display: none;
}
#panel menu a.save.active .unactive {
    display: none;
}
#panel menu a.save.active .active {
    display: block;
}


/* Editor */
#editor {
    overflow: auto;
}
#editor .editable {
    width: 1000px;
    min-height: 100%;
    margin: 0 auto;
    outline: none;
}
#editor .editable::after {
    padding: 64px 40px;
}


/* Focus */
#panel, #editor {
    -webkit-transition: all 160ms ease-in-out;
}
#panel.active {
    left: 0;
}
#panel.active a[data-toggle-panel]:not(:hover) {
    color: #44535f;
}
#panel.active + #editor {
    left: 320px;
}


/* Responsive */
@media screen and (max-width: 1320px) {
    #editor .editable {
        width: 960px;
    }
}
